.nav-bar-list {
  list-style-type: none;
  height: 100vh;
  padding: 0;
  margin: 0;
  background-color: #131313;
}

.nav-item {
  display: flex;
  height: 3.5rem;
  padding: 10px;
  color: white;
  font-weight: bold;
}
a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}