.app-header{
  text-align: center;
  margin-top: 10vh ;
  margin-right: 20px;
}

.image {
  border-radius: 15px 50px;
}
.info {
  padding-top: 15px;
  text-align: center;
  color: black;
  font-size: 1rem;
}
.info a {
  color: black;
}